*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}
.navbar{
    background: #121214;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: blueviolet;
    background-image: linear-gradient(to top, red 0% rgb(226, 126, 143) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;

}

.fa-gem{
    margin-right: 0.05rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}


.navbar__links{
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 15px;
    height: 100%;

}

.navbar__btn{
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: center;
    width: 100%;
}

.button{
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 10px 20px;
    justify-content: center;
    width: 100%;
    border: none;
    height: 100%;
    outline: none;
    background: #f77072;
    border-radius: 4px;
    color: antiquewhite;
}



