@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    background: #181818;
    color: gainsboro;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
