*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

.login-box {
position: relative;
width: 400px;
height: 450px;
background: gray;
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
}

h2 {
    font-size: 2em;

}

.input-box {
    width: 320px;
    margin: 10px;
    border-bottom: 2px solid #fff;
}

