*{
    margin: 0;
    padding: 0;

}
.navbar{
    width: 80%;
    height: 50px;
    background-color: bisque;
    margin: 20px auto;
}
.navbar ul{
    list-style-type: none;
}
.navbar ul li{
    float: left;
    width: 217px;
}
.navbar{
    color: violet;
}