*:before, *:after{
    box-sizing: border-box;
}
*{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'quicksand';
}
html,body{
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

body{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
}

.Sticky-note{
    width: 20%;
    position: relative;
    padding: 0 30px;
}
.Sticky-note .pinned{
    position: relative;
}
.Sticky-note .pinned i{
    position: absolute;
    bottom: -15px;
    letter-spacing: 50%;
    transform: translateX(-50%) rotate3d(1,1,1,45deg);
    font-size: 3em;
    color: blueviolet;
    z-index: 1;
}



